[report]
exclude_lines =
    def __str__
    pragma: no cover
fail_under = 100
show_missing = True
skip_covered = True

omit =
    */migrations/*
    fabfile.py
    */admin.py
    */apps.py
    */__init__.py
    */tests.py
    */test*.py
    manage.py
    */urls.py
    */factories.py
    */admin_utils.py
    */settings.py

[run]
source = .
branch = True